/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.character-builder-group-container
{
    padding: .25em 0;
}
.character-builder-group-title
{
    font-variant: var(--h4-variant);
    letter-spacing: 0.015em;
    line-height: var(--h4-line-height);
    font-size: var(--h4-size);
    color: var(--h4-color);
    font-weight: var(--h4-weight);
    font-style: var(--h4-style);
    font-family: var(--h4-font);
    margin-bottom: .5em;
    padding: 0 1.25em;
    background-color: var(--modal-background);
    position: relative;
    display: inline;
    top: -14px;
}
.character-builder-group-collapsible
{
    height: 1px;
    margin: 1em 0;
    border-top: 1px solid var(--background-modifier-border);
}
.character-builder-group-collapse-icon
{
    color: var(--nav-collapse-icon-color);
    background-color: var(--modal-background);
    stroke-width: 4px;
    width: 10px;
    height: 10px;
    transition: transform 100ms ease-in-out;
    position: relative;
    top: -17px;
}
.character-builder-group-container.character-builder-group-collapsed
{
    padding-bottom: 1em;
}
.character-builder-group-collapsed .character-builder-group-collapse-icon
{
	transform: rotate(-90deg);
	color: var(--nav-collapse-icon-color-collapsed);
}
.character-builder-group-collapsed .character-builder-group-content
{
	display: none;
}
[data-type="character-builder-full-view"] .setting-item
{
    align-items: start !important;
}

.character-builder-table {
    width: 100%;
    max-width: 800px;
    margin: auto;
    font-size: var(--font-ui-small);
}

.character-builder-table-cell, .character-builder-total-stats {
    width: 12%;
    height: var(--input-height);
    -webkit-app-region: no-drag;
    color: var(--text-normal);
    font-family: inherit;
    outline: none;
}

.character-builder-table, .character-builder-stat-input {
    text-align: center;
}

.character-builder-table-descriptor {
    width: 16%;
    text-align: start;
}
.character-builder-stat-input {
    padding: var(--size-2-1) var(--size-2-2) !important;
}
.character-builder-stat-input::-webkit-inner-spin-button {
    appearance: auto !important;
    width: 8px;
}
.character-builder-splitter-container {
    display: flex;
    width: 100%;
    padding: 0.75em 1em;
    border-top: 1px solid var(--background-modifier-border);
}

.character-builder-splitter-container > div {
    flex: 1;
    border: none;
}

.character-builder-statblock-container {
    flex: 2 !important;
}

.character-builder-splitter-container > div:not(:last-child) {
    border-right: 1px solid var(--background-modifier-border);
    padding-right: 1em !important;
    margin-right: 1em !important;
}

.character-builder-table-header, .character-builder-table-descriptor {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.character-builder-table-header, .character-builder-table-cell, .character-builder-stat-input {
    max-width: 50px;
}
.character-builder-table-descriptor {
    max-width: 90px;
}
.character-builder-total-stats {
    display: inline;
}

.character-builder-setting {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.75em 1em 0.75em 1em;
  border-top: 1px solid var(--background-modifier-border);
}
.character-builder-splitter-container .character-builder-setting {
    padding: 0.75em 0 0.75em 0;
}
.character-builder-setting + .character-builder-setting-heading {
  margin-top: 0.75em;
}
.character-builder-setting:first-child, .character-builder-splitter-container:first-child {
  border-top: none;
}
.character-builder-setting > *:first-child {
  margin-right: var(--size-4-4);
}
.character-builder-setting > *:last-child {
  margin-right: 0;
}
.character-builder-setting.mod-cta {
  justify-content: center;
}
.character-builder-setting-heading {
  font-weight: var(--font-semibold);
  border-top: none;
}
.character-builder-setting-heading .character-builder-setting-info {
  flex-grow: 0;
  margin-right: 0;
}
.character-builder-setting-heading .character-builder-setting-description {
  font-weight: var(--font-normal);
}
.character-builder-setting-info {
  display: flex;
  align-items: baseline;
  position: relative;
}
.character-builder-setting-description {
  flex: 1 1 auto;
  color: var(--text-muted);
  font-size: var(--font-ui-smaller);
  padding-top: var(--size-4-1);
  line-height: var(--line-height-tight);
}
.character-builder-setting-description:empty {
  display: none;
}
.character-builder-setting-description code {
  font-family: var(--font-monospace);
  font-size: var(--font-smaller);
  border-radius: var(--radius-s);
  padding: 0 3px 2px 3px;
  position: relative;
  bottom: 1px;
}
.character-builder-setting-description ul {
  margin: var(--size-4-1) 0;
  padding-left: var(--size-4-6);
}
.character-builder-setting-name {
  color: var(--text-normal);
  font-size: var(--font-ui-medium);
  line-height: var(--line-height-tight);
  display: inline;
  padding-right: 2em;
}
.character-builder-setting-control {
  flex: 1 1 auto;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--size-4-2);
}
.character-builder-setting-control.mod-vertical {
  flex-direction: column;
}
.character-builder-setting-control.mod-vertical > *:not(:last-child) {
  margin-bottom: 10px;
  margin-right: 0;
}
.character-builder-setting-control.mod-hotkey {
  padding-top: 0;
  cursor: default;
}
.character-builder-setting-control.mod-hotkey input {
  font-family: var(--font-monospace);
  font-size: var(--font-smaller);
}
.character-builder-setting-control.mod-hotkey input:focus {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
}
.character-builder-setting-control select {
  width: inherit;
  max-width: 400px;
}

.character-builder-setting-description > :first-child {
    margin-top: 0;
}

.character-builder-slider-tooltip {
    font-weight: bold;
}
.character-builder-slider-tooltip.hidden-tooltip {
    display: none;
}

.character-builder-setting.text-field-no-editor input {
    border: none !important;
    background: inherit !important;
    color: var(--text-normal);
    font-family: inherit;
    font-size: var(--font-ui-normal);
    outline: none !important;
    text-align: right;
    font-weight: bold;
    max-width: 8em;
    box-shadow: none !important;
}

.character-builder-tab-container {
    border-top: 1px solid var(--background-modifier-border);
}
.character-builder-tab {
    display: block;
}
.character-builder-tab.tab-hidden {
    display: none;
}
.character-builder-breadcrumb-container {
    display: flex;
}

.character-builder-breadcrumb-tab {
    position: relative;
}

.character-builder-breadcrumb-tab-title {
    margin: 0 1em;
    padding: .5em 1em;
    cursor: pointer;
    font-variant: var(--h4-variant);
    font-size: var(--size-4-4);
    letter-spacing: 0.010em;
    color: var(--h4-color);
    font-weight: var(--h4-weight);
    font-style: var(--h4-style);
    font-family: var(--h4-font);
    transition: background-color .5s ease;
}

.character-builder-full-view-header ::before, .character-builder-full-view-header ::after {
    display: none;
}

.character-builder-breadcrumb-tab:not(:last-child):after {
    content: "";
    display: block;
    background-color: var(--background-modifier-border);
    position: absolute;
    right: -0.8em;
    top: 0;
    width: 1.6em;
    height: 3px;
    margin: 9px 0;
    border-radius: 2px;
    cursor: initial;
}

.character-builder-breadcrumb-tab.tab-hidden .character-builder-breadcrumb-tab-title {
    font-weight: normal;
}

.character-builder-breadcrumb-tab-title:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.character-builder-setting-control.character-builder-setting-text-area-control, .character-builder-setting-control.character-builder-setting-markdown-area-control {
    justify-content: flex-start;
}
.character-builder-setting-control.character-builder-setting-text-area-control textarea, .character-builder-setting-control.character-builder-setting-markdown-area-control textarea {
    resize: vertical;
    min-height: 90px;
    max-height: 400px;
    width: 100%;
}

.character-builder-setting.invalid .character-builder-setting-info::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var(--color-accent);
    position: absolute;
    left: 6px;
    bottom: -6px;
    width: calc(100% - 12px);
    animation: .7s error_slide;
}

@keyframes error_slide {
    from {
        width: 0px;
    }

    to {
        width: calc(100% - 12px);
    }
}

.invalid input, .invalid select, .invalid textarea {
    border-color: var(--color-accent) !important;
}

.character-builder-setting-control.character-builder-setting-markdown-area-control {
    width: 100%;
    height: 400px;
    border-radius: 4px;
    border: 1px solid var(--background-modifier-border);
    text-align: inherit;
}

.character-builder-setting-control.character-builder-setting-markdown-area-control .markdown-source-view {
    padding: 0;
    width: 100%;
}
.character-builder-full-view-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.character-builder-full-view-footer {
    padding: 0.75em 13em 0.75em 1em;
    border-top: 1px solid var(--background-modifier-border);
    background-color: var(--background-primary);
    position: sticky;
    bottom: -1.75em;
    z-index: var(--layer-cover);
}
.character-builder-full-view-footer button {
    padding: 1.25em 2em;
}

.character-builder-setting-control.character-builder-setting-markdown-area-control .markdown-embed-content {
    width: 100%;
}

.character-builder-talent-list {
    width: 20%;
}

.character-builder-talent-item {
    padding: 5px 12px;
    transition: background-color .2s;
    cursor: pointer;
}

.character-builder-talent-item:hover {
    background-color: var(--interactive-hover);
}

.character-builder-talent-group-header {
    padding: 8px 0;
}
